<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/javascripts/bootstrap.js">
</head>

<body>
<!--引入头部-->
<%- include ziyemian/toubu.ejs%>
<%- include ziyemian/content.ejs%>
</body>
</html>