<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台登录页面</title>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
<h1 style="text-align: center;margin-top: 5%;font-size: 50px;">104班精英管理系统</h1>
<form action="http://localhost:5000/users/login">
<div class="touxiang">
    <img src="" class="img" alt="">
</div>
<p style="position: relative">
    <span style="position: absolute;color: #333;left: 3%;font-size: 15px;top: 11px;">用户名:</span>
<input type="text" id="bir" name="userName">
</p>
<p style="margin: 27px 0;position: relative;">
    <span style="position: absolute;color: #333;left: 3%;font-size: 15px;top: 11px;">密 &nbsp;&nbsp;码:</span>
<input type="text" id="iki" name="pwd">
</p>
    <p>
<input type="submit" id="tijiao" disabled value="请输入账号密码再点击我"  style="padding: 15px 0 !important;display:inline-block;text-align: center;margin-top: 30px;margin: 10px auto">
    </p>

<div class='background'></div>
</form>
<script src="../public/javascripts/jquery.js"></script>
<script src="../public/javascripts/login.js"></script>
<script>

</script>
</body>
</html>