
<ul class="nav nav-pills nav-stacked list">
    <li role="presentation" class="active" style="background: #3c87cf;"><a href="#">商品管理</a></li>
    <li role="presentation"><a href="#">商品列表</a></li>
    <li role="presentation"><a href="#">增加商品</a></li>
</ul>